/* apps/admin/src/app/globals.css */
@import "tailwindcss";
@import "@repo/tailwind-config/theme.css";

/* Các hiệu ứng focus tùy chỉnh từ template mockup của em */
@utility input-glow {
  &:focus {
    outline: none;
    border-color: #2563EB;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.1);
  }
}

@utility error-glow {
  &:focus {
    outline: none;
    border-color: #ba1a1a;
    box-shadow: 0 0 0 2px rgba(186, 26, 26, 0.1);
  }
}